In [18]:
import pandas as pd
import numpy as np

# Gathering data from ILS files...

6L runway info:
* elevation = 128 ft
* threshold coords: 33.949146, -118.430882
* bearing: 71 degrees (east direction)
* ALISN: 5.1 nautical miles, 1800 ft elevation
* NATHN: 11 nautical miles, 3600 ft elevation

6R runway info:
* elevation = 128 ft
* threshold coords: 33.947037, -118.432633
* bearing: 71 degrees (east direction)
* GUPPI: 5.1 nautical miles, 1800 ft elevation
* OTTES: 11.1 nautical miles, 3600 ft elevation

7L runway info:
* elevation = 128 ft
* threshold coords: 33.935872, -118.419061
* bearing: 71 degrees (east direction)
* TURKA: 5.1 nautical miles, 1800 ft elevation
* FEKIL: 11 natical miles, 2600 ft elevation

7R runway info:
* elevation = 128 ft
* threshold coords: 33.933690, -118.418741
* bearing: 71 degress (east direction)
* FUMBL: 5.1 nautical miles, 1800 ft elevation
* TIMSE: 11.1 nautical miles, 2600 ft elevation

24L runway info:
* elevation = 128 ft
* threshold coords: 33.950160, -118.402006
* bearing: 251 degrees (west direction)
* SUTIE: 6.4 nautical miles, 2200 ft elevation
* BOUBY: 12.1 nautical miles, 4000 ft elevation
* JULLI: 13.3 nautical miles, 4000 ft elevation
* FAYZE: 16.5 nautical miles, 5000 ft elevation
* FNESE: 19.7 nautical miles, 6000 ft elevation
* HURLR: 23.6 nautical miles, 7000 ft elevation
* WLNUT: 27.2 nautical miles, 8000 ft elevation
* SALWA: 30.8 nautical miles, 9000 ft elevation
* PFILA: 34.4 nautical miles, 10000 ft elevation

24R runway info:
* elevation = 128 ft
* threshold coords: 33.952087, -118.402300
* bearing: 251 degrees (west direction)
* KOBEE: 6.4 nautical miles, 2200 ft elevation
* MERCE: 14.3 nautical miles, 4000 ft elevation
* BROUK: 17.5 nautical miles, 5000 ft elevation
* LIVVN 20.7 nautical miles, 6000 ft elevation
* PALAC: 24.6 nautical miles, 7000 ft elevation
* BREEA: 28.2 nautical miles, 8000 ft elevation
* DECOR: 31.8 nautical miles, 9000 ft elevation
* SKOLL: 35.4 nautical miles, 10000 ft elevation

25L runway info:
* elevation = 128 ft
* threshold coords: 33.937347, -118.383047
* bearing: 251 degrees (west direction)
* GIGI: 5.5 nautical miles, 1900 ft elevation
* HUNDA: 11.1 nautical miles, 3600 ft elevation
* GAATE: 15.5 nautical miles, 5000 ft elevation
* FUELR: 24.4 nautical miles, 7000 ft elevation
* DYMMO: 28.3 nautical miles, 8000 ft elevation
* TAROC: 31.7 nautical miles, 9000 ft elevation
* KRAIN: 35.2 nautical miles, 10000 ft elevation

25R runway info:
* elevation = 128 ft
* threshold coords: 33.939541, -118.383231
* bearing: 251 degrees (west direction)
* FOGLA: 5.5 nautical miles, 1900 ft elevation
* SHELL: 11.5 nautical miles, 3700 ft elevation

In [19]:
# Descent points goes (name, nautical miles of distance, ft of elevation)
data = {'LNDRwy': ['06L', '06R', '07L', '07R', '24L', '24R', '25L', '25R'],
       'Elevation': [128, 128, 128, 128, 128, 128, 128, 128],
       'Threshold': [(33.949146, -118.430882), (33.947037, -118.432633),
                    (33.935872, -118.419061), (33.933690, -118.418741),
                    (33.950160, -118.402006), (33.952087, -118.402300),
                    (33.937347, -118.383047), (33.939541, -118.383231)],
       'Bearing': [71, 71, 71, 71, 251, 251, 251, 251],
       'Descent_Points': [[('ALISN', 5.1, 1800), ('NATHN', 11, 3600)], 
                        [('GUPPI', 5.1, 1800), ('OTTES', 11.1, 3600)],
                        [('TURKA', 5.1, 1800), ('FEKIL', 11, 2600)],
                        [('FUMBL', 5.1, 1800), ('TIMSE', 11.1, 2600)],
                        [('SUTIE', 6.4, 2200), ('BOUBY', 12.1, 4000), ('JULLI', 13.3, 4000),
                           ('FAYZE', 16.5, 5000), ('FNESE', 19.7, 6000), ('HURLR', 23.6, 7000),
                           ('WLNUT', 27.2, 8000), ('SALWA', 30.8, 9000), ('PFILA', 34.4, 10000)],
                        [('KOBEE', 6.4, 2200), ('MERCE', 14.3, 4000), ('BROUK', 17.5, 5000),
                           ('LIVVN', 20.7, 6000), ('PALAC', 24.6, 7000), ('BREEA', 28.2, 8000),
                           ('DECOR', 31.8, 9000), ('SKOLL', 35.4, 10000)],
                        [('GIGI', 5.5, 1900), ('HUNDA', 11.1, 3600), ('GAATE', 15.5, 5000),
                           ('FUELR', 24.4, 7000), ('DYMMO', 28.3, 8000), ('TAROC', 31.7, 9000),
                           ('KRAIN', 35.2, 10000)],
                        [('FOGLA', 5.5, 1900), ('SHELL', 11.5, 3700)]]}

In [20]:
lookup_df = pd.DataFrame(data=data)

In [21]:
lookup_df

,LNDRwy,Elevation,Threshold,Bearing,Descent_Points
0,06L,128,"(33.949146, -118.430882)",71,"[(ALISN, 5.1, 1800), (NATHN, 11, 3600)]"
1,06R,128,"(33.947037, -118.432633)",71,"[(GUPPI, 5.1, 1800), (OTTES, 11.1, 3600)]"
2,07L,128,"(33.935872, -118.419061)",71,"[(TURKA, 5.1, 1800), (FEKIL, 11, 2600)]"
3,07R,128,"(33.93369, -118.418741)",71,"[(FUMBL, 5.1, 1800), (TIMSE, 11.1, 2600)]"
4,24L,128,"(33.95016, -118.402006)",251,"[(SUTIE, 6.4, 2200), (BOUBY, 12.1, 4000), (JUL..."
5,24R,128,"(33.952087, -118.4023)",251,"[(KOBEE, 6.4, 2200), (MERCE, 14.3, 4000), (BRO..."
6,25L,128,"(33.937347, -118.383047)",251,"[(GIGI, 5.5, 1900), (HUNDA, 11.1, 3600), (GAAT..."
7,25R,128,"(33.939541, -118.383231)",251,"[(FOGLA, 5.5, 1900), (SHELL, 11.5, 3700)]"

In [22]:
# Split the longitude and latitude in the threshold column
lookup_df[['Lat', 'Long']] = pd.DataFrame(lookup_df['Threshold'].tolist(), index=lookup_df.index)

In [23]:
lookup_df

,LNDRwy,Elevation,Threshold,Bearing,Descent_Points,Lat,Long
0,06L,128,"(33.949146, -118.430882)",71,"[(ALISN, 5.1, 1800), (NATHN, 11, 3600)]",33.949146,-118.430882
1,06R,128,"(33.947037, -118.432633)",71,"[(GUPPI, 5.1, 1800), (OTTES, 11.1, 3600)]",33.947037,-118.432633
2,07L,128,"(33.935872, -118.419061)",71,"[(TURKA, 5.1, 1800), (FEKIL, 11, 2600)]",33.935872,-118.419061
3,07R,128,"(33.93369, -118.418741)",71,"[(FUMBL, 5.1, 1800), (TIMSE, 11.1, 2600)]",33.933690,-118.418741
4,24L,128,"(33.95016, -118.402006)",251,"[(SUTIE, 6.4, 2200), (BOUBY, 12.1, 4000), (JUL...",33.950160,-118.402006
5,24R,128,"(33.952087, -118.4023)",251,"[(KOBEE, 6.4, 2200), (MERCE, 14.3, 4000), (BRO...",33.952087,-118.402300
6,25L,128,"(33.937347, -118.383047)",251,"[(GIGI, 5.5, 1900), (HUNDA, 11.1, 3600), (GAAT...",33.937347,-118.383047
7,25R,128,"(33.939541, -118.383231)",251,"[(FOGLA, 5.5, 1900), (SHELL, 11.5, 3700)]",33.939541,-118.383231

In [24]:
lookup_df.to_csv('Sherlock_data/Lookup_table.csv', index=False)

### Extract the Descent_point information

In [73]:
waypoints = lookup_df['Descent_Points'].values.tolist()
runways = lookup_df['LNDRwy'].values.tolist()
val=[]
for i in range(len(waypoints)):
    for j in range(len(waypoints[i])):
        tmp = list(waypoints[i][j])
        tmp.append(runways[i])
        val.append(tmp)
val

[['ALISN', 5.1, 1800, '06L'],
 ['NATHN', 11, 3600, '06L'],
 ['GUPPI', 5.1, 1800, '06R'],
 ['OTTES', 11.1, 3600, '06R'],
 ['TURKA', 5.1, 1800, '07L'],
 ['FEKIL', 11, 2600, '07L'],
 ['FUMBL', 5.1, 1800, '07R'],
 ['TIMSE', 11.1, 2600, '07R'],
 ['SUTIE', 6.4, 2200, '24L'],
 ['BOUBY', 12.1, 4000, '24L'],
 ['JULLI', 13.3, 4000, '24L'],
 ['FAYZE', 16.5, 5000, '24L'],
 ['FNESE', 19.7, 6000, '24L'],
 ['HURLR', 23.6, 7000, '24L'],
 ['WLNUT', 27.2, 8000, '24L'],
 ['SALWA', 30.8, 9000, '24L'],
 ['PFILA', 34.4, 10000, '24L'],
 ['KOBEE', 6.4, 2200, '24R'],
 ['MERCE', 14.3, 4000, '24R'],
 ['BROUK', 17.5, 5000, '24R'],
 ['LIVVN', 20.7, 6000, '24R'],
 ['PALAC', 24.6, 7000, '24R'],
 ['BREEA', 28.2, 8000, '24R'],
 ['DECOR', 31.8, 9000, '24R'],
 ['SKOLL', 35.4, 10000, '24R'],
 ['GIGI', 5.5, 1900, '25L'],
 ['HUNDA', 11.1, 3600, '25L'],
 ['GAATE', 15.5, 5000, '25L'],
 ['FUELR', 24.4, 7000, '25L'],
 ['DYMMO', 28.3, 8000, '25L'],
 ['TAROC', 31.7, 9000, '25L'],
 ['KRAIN', 35.2, 10000, '25L'],
 ['FOGLA', 5.5, 1900, '25R'],
 ['SHELL', 11.5, 3700, '25R']]

In [75]:
wp = pd.DataFrame(val, columns=['wp_name', 'wp_ground', 'wp_elev', 'LNDRwy'])
wp

   wp_name  wp_ground  wp_elev LNDRwy
0    ALISN        5.1     1800    06L
1    NATHN       11.0     3600    06L
2    GUPPI        5.1     1800    06R
3    OTTES       11.1     3600    06R
4    TURKA        5.1     1800    07L
5    FEKIL       11.0     2600    07L
6    FUMBL        5.1     1800    07R
7    TIMSE       11.1     2600    07R
8    SUTIE        6.4     2200    24L
9    BOUBY       12.1     4000    24L
10   JULLI       13.3     4000    24L
11   FAYZE       16.5     5000    24L
12   FNESE       19.7     6000    24L
13   HURLR       23.6     7000    24L
14   WLNUT       27.2     8000    24L
15   SALWA       30.8     9000    24L
16   PFILA       34.4    10000    24L
17   KOBEE        6.4     2200    24R
18   MERCE       14.3     4000    24R
19   BROUK       17.5     5000    24R
20   LIVVN       20.7     6000    24R
21   PALAC       24.6     7000    24R
22   BREEA       28.2     8000    24R
23   DECOR       31.8     9000    24R
24   SKOLL       35.4    10000    24R
25    GIGI        5.5     1900    25L
26   HUNDA       11.1     3600    25L
27   GAATE       15.5     5000    25L
28   FUELR       24.4     7000    25L
29   DYMMO       28.3     8000    25L
30   TAROC       31.7     9000    25L
31   KRAIN       35.2    10000    25L
32   FOGLA        5.5     1900    25R
33   SHELL       11.5     3700    25R

In [76]:
wp.to_csv('Sherlock_data/Waypoint_table.csv', index=False)